{% extends 'base.html' %}

{% set active = "Home" %}

{% block header %}
    
    <script src="../static/JS/home.js"></script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-end mb-3">
        {% if current_user.is_authenticated %}

        {% endif %}
    </div>


    <section class="products">        
        <div class="col1">
            <h1 style="font-weight: bold; font-size: 70px;">Welcome</h1>
            <div id="clock" class="textT"></div>
                
            <script>
                function updateTime() {
                    var now = new Date();
                    var hours = now.getHours();
                    var minutes = now.getMinutes();
                    var seconds = now.getSeconds();
                    var timeString = hours + ':' + minutes + ':' + seconds;
                    document.getElementById('clock').innerHTML = timeString;
                }

                // Update the time every second
                setInterval(updateTime, 1000);
            </script>                                               

            <br>

            <div class="textP">“When one door of happiness closes, another opens; but often we look so long at the closed door that we do not see the one which has been opened for us.”</div>

        </div>
        
        
    </section>

    <section class="products"> 
        <div class="col2">
            <div>My Tasks</div>
                                    
                <div id="task-list"></div>
                
        </div>
        
    </section>


    <section class="products"> 
        
        <div class="col3">
          <div>Notifications</div>
        </div>

    </section>


{% endblock %}
