{% extends 'base.html' %}
{% set active = "project" %}

{% block title %}
Project
{% endblock %}

{% block content %}
    <main>
        <section class="container">
            <div class="list-column">
                <div class="list">
                    <div class="list-header">
                        <h2 class="list-title">To Do</h2>
                        <button class="add-card">+ Add a card</button>
                    </div>
                    <div class="list-body">
                    </div>
                    <div class="list-footer">
                        <button class="delete-list">Delete List</button>
                    </div>
                </div>
                <div class="list">
                    <div class="list-header">
                        <h2 class="list-title">In Progress</h2>
                        <button class="add-card">+ Add a card</button>
                    </div>
                    <div class="list-body">
                    </div>
                    <div class="list-footer">
                        <button class="delete-list">Delete List</button>
                    </div>
                </div>
                <div class="list">
                    <div class="list-header">
                        <h2 class="list-title">Done</h2>
                        <button class="add-card">+ Add a card</button>
                    </div>
                    <div class="list-body">
                    </div>
                    <div class="list-footer">
                        <button class="delete-list">Delete List</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

<script>
    const addCardButtons = document.querySelectorAll('.add-card');

    addCardButtons.forEach(function(addCardButton) {
    addCardButton.addEventListener('click', function() {
    const card = document.createElement('div');
    card.classList.add('card');

    const title = document.createElement('input');
    title.type = 'text';
    title.contenteditable = true;
    card.appendChild(title);

    const description = document.createElement('textarea');
    description.contenteditable = false;
    card.appendChild(description);

    title.value = '';
    description.value = '';

    description.addEventListener('input', function() {
      this.style.height = 'auto';
      this.style.height = this.scrollHeight + 'px';
    });

    const listBody = addCardButton.parentNode.nextElementSibling;
    listBody.appendChild(card);
  });
});

</script>



{% endblock %}
