.nav-item a:hover{
    background: #666
}

.bell-icon {
    color: white;

}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-primary:active, .btn-primary:focus {
    background-color: #0062cc;
    border-color: #005cbf;
}







.modal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Position it on top of the content */
    z-index: 10; /* Make sure it appears on top */
    left: 65%;
    top: 7.5%;
    width: 35%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
    border: 3px solid #73AD21;
    transform-origin: top right;
    transform: scale(0.5);
}




