

.textT{
  color: white; 
  font-size: 60px; 
  font-weight: 700; 
  line-height: 1; 
  letter-spacing: -0.01em; 
  margin-top: 5px; 
  text-indent: -0.05em;
  display: block; 
  white-space: nowrap;
}



.textP{
  font-size: 17px; 
  font-weight: 400; 
  line-height: 25px; 
  letter-spacing: normal; 
  color: black; 
  margin-top: 20px; 
  text-indent: -0.55em;
  color: white; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100%;
}


.col1{
  width: 30%;
  height: 40%;
  float: left;
  overflow: hidden;
  background: rgba(0,0,0,0.01);
  width: 450px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  left: 17%;
  transform-origin: top left;
  transform: scale(0.9);


}

.col2{
  width: 50%;
  float: left;
  overflow: hidden;
  background: rgba(0,0,0,0.01);
  text-align: center;
  align-items: top;
  display: flex;
  flex-direction: column;
  justify-content: top;
  position: fixed;
  top: 11%;
  left: 42%;
  border: 3px solid #73AD21;
  transform-origin: top left;
  transform: scale(0.5);


}

.col3{
  width: 40%;
  float: left;
  overflow: hidden;
  background: rgba(0,0,0,0.01);
  text-align: center;
  align-items: top;
  display: flex;
  flex-direction: column;
  justify-content: top;
  position: fixed;
  top: 11%;
  left: 70%;
  border: 3px solid #73AD21;
  transform-origin: top left;
  transform: scale(0.5);

}

.col4{
  width: 40%;
  float: left;
  overflow: hidden;
  background: rgba(0,0,0,0.01);
  text-align: center;
  align-items: top;
  display: flex;
  flex-direction: column;
  justify-content: top;
  position: fixed;
  bottom: 0%;
  left: 70%;
  transform-origin: top left;
  transform: scale(0.5);

}




.list-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}



.list {
    background-color: rgba(0,0,0,0.35);
    border-radius: 4px;
    margin-bottom: 20px;
    width: calc(33.33% - 10px);
    height: fit-content;
}

.listN {
    background-color: rgba(0,0,0,0.35);
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: auto;
    color: white;
    font-size: 35px;
}

.listDD {    
    width: 32%;
    height: 39%;    
    color: white;
    position: fixed;
    bottom: 0%;
    left: 80%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: top left;
    transform: scale(1);

}



.taskT{
    font-weight: bold; 
    font-size: 100px; 
    background-color: rgba(0,0,0,0.35); 
    border: 3px solid #73AD21; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 13px; 
    margin-left: 13px;
}

.taskMT{
    font-weight: bold; 
    font-size: 30px; 

    text-align: center;
    align-items: center;
    font-size: 40px;

}

.listMT {
    background-color: rgba(0,0,0,0.35);
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    margin-bottom: 5px;
    padding: 10px;
    width: calc(33.33% - 10px);
    height: auto;
    border: 3px solid #73AD21;
    color: white;
    font-size: 45px;
}


.user-notes {
    border: 2px solid #73AD21;
    margin-bottom: 20px;
    padding: 10px;
}



