        body {
          background-color: #f2f2f2;
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }

        main {
        display: flex;
        justify-content: center;
        }

        .container {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 20px;
          margin: 20px;
          align-items: flex-start;
          min-height: 100%;
          position: absolute;
        }

        .list-column {
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          margin-right: 10px;

        }



        .list {
          background-color: #f8f9fa;
          border-radius: 4px;
          width: 320px;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
        }

        .list-header {
          padding: 10px;
          border-radius: 4px 4px 0 0;
          color: white;
          margin: 10px;
        }
        .list-header-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background-color: #FFFFFF;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .list-wrapper {
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          width: 320px;
          margin-bottom: 20px;
        }

        .list-title {
          font-size: 20px;
          font-weight: bold;
          margin: 0;
          display: inline;

        }

        .list-body {
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          flex-grow: 1;
        }



        .add-list-button {
          background-color: #f8f9fa;
          border: none;
          cursor: pointer;
          padding: 5px 10px;
          font-size: 14px;
          font-weight: bold;
          color: #495057;
          display: inline-block;
          width: 100px;
          height: 57px;
          margin-bottom: 0;
          text-align: center;
          align-items: center;
          position: fixed;
          top: 0;
          left: 86%;
        }


        .card {
          background-color: #ebecf0;
          border-radius: 4px;
          color: #172b4d;
          cursor: pointer;
          padding: 10px;
          margin-bottom: 10px;
        }

        .card:hover {
          background-color: #d3d6db;
        }

        .card-footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;
        }



        .delete-list {
          background-color: #dfe1e6;
          border-radius: 4px;
          color: #5e6c84;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          padding: 6px 8px;
          text-align: center;
          margin-left: 220px;
        }

        .delete-list:hover {
          background-color: #c1c7d0;
        }

        .add-card {
            border: none;
            background-color: #FFFFFF;
            color: #4A4A4A;
            padding: 8px 16px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.3s ease;
            float: right;
        }
        .add-card:hover {
            background-color: #F5F5F5;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .add-card:focus {
            outline: none;
        }
        textarea {
          width: 100%;
          padding: 5px;
          box-sizing: border-box;
          border: none;
          resize: none;
          overflow: hidden;
        }

      input[type="text"] {
        border: none;
        font-size: 18px;
        margin-bottom: 8px;
        outline: none;
        width: 100%;
      }


      .drag-over {
        background-color: rgba(9, 30, 66, 0.2);
      }


      .card.dragover {
         border-style: dashed;
      }


      .card:hover {
        cursor: move;
      }

      body {
        font-family: "Roboto", sans-serif;
        background-color: #F5F5F5;
      }




